<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel='stylesheet' type="text/css" href='/bipoc.css'>
</head>

<body>
  {{{body}}}
  <script src="/event-constants.js" type="module"></script>
  <script src="/event-source.js" type="module"></script>
  <script src="/observer.js" type="module"></script>
  <script src="/landing-view.js" type="module"></script>
  <script src="/network-proxy.js" type="module"></script>
  <script src="/bipoc-model.js" type="module"></script>
  <script src="/landing-controller.js" type="module"></script>

</body>