<div class="flex-row">

  <div class="flex-column">
    <div class="navigation">
      <ul>
        <li class="list active">
          <div>
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="title">Home</span>
          </div>
        </li>
        <li class="list">
          <div>
            <span class="icon">
              <ion-icon name="person-outline"></ion-icon>
            </span>
            <span class="title">Profile</span>
          </div>
        </li>
        <li class="list">
          <div>
            <span class="icon">
              <ion-icon name="chatbox-outline"></ion-icon>
            </span>
            <span class="title">Messages</span>
          </div>
        </li>
        <li class="list">
          <div>
            <span class="icon">
              <ion-icon name="people-outline"></ion-icon>
            </span>
            <span class="title">Groups</span>
          </div>
        </li>
        <li class="list">
          <div>
            <span class="icon">
              <ion-icon name="settings-outline"></ion-icon>
            </span>
            <span class="title">Settings</span>
          </div>
        </li>
        <li class="list">
          <div>
            <span class="icon">
              <ion-icon name="help-outline"></ion-icon>
            </span>
            <span class="title">Help</span>
          </div>
        </li>
        <li class="list">
          <div id="button-logout">
            <span class="icon">
              <ion-icon name="log-out-outline"></ion-icon>
            </span>
            <span class="title">Sign Out</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="toggle">
      <ion-icon name="menu-outline" class="open"></ion-icon>
      <ion-icon name="close-circle-outline" class="close"></ion-icon>
    </div>

    <div class="flex-column">

      <div class="flex-row">
        <div class="sidebar ">
          <div class="grid2col">
            <h2 class="bipocHeader">Bipoc</h2>
            <div id="search-bar-mobile">
              <span class="icon">
                <ion-icon name="search-outline"></ion-icon>
              </span>
            </div>
          </div>
          <div>profile</div>
          <div>toggle</div>
          <div>2nd row of top menu
            <div class="mobile list" style="display: none;">
              <div>Home</div>
              <div>Groups</div>
              <div>toggle</div>
              <div>messages</div>
              <div>notifications</div>
            </div>
          </div>
        </div>
      </div>
      <div style="display: none;">reduced browser
        <div>logo</div>
        <div> search bar
          <div id="search-bar">
            <span class="icon">
              <ion-icon name="search-outline"></ion-icon>
            </span>
          </div>
          <div>Home</div>
          <div>Groups</div>
          <div>toggle</div>
          <div>Create dropdown btn (story,newsfeed,group,event, post a job)</div>
          <div>messages</div>
          <div>notifications</div>
          <div> toggle (profile,settings, display, log out)</div>
        </div>
      </div>
    </div>

  </div>