<div style="display: flex; align-items:center; justify-content:center; flex-direction:column">
  <img src="" alt="Profile picture" class="user">
  <div style="display: flex; align-items:center; justify-content:center; flex-direction:row">
    <div class="profileButton" id="editProfileBtn">
      <span>
        <ion-icon name="pencil-outline"></ion-icon>
      </span>
      <span>Edit Profile</span>
    </div>
    <div class="profileButton" id="profileSettings">...</div>

  </div>
  <!--flex row div-->
  <div>Bio</div>
  <div>JobSeeking Status</div>
  <ul>
    <li>School</li>
    <li>location</li>
    <li>Work Experience</li>
    <li>See more</li>
  </ul>
  <!--About yourself-->

  <div>
    Friends
    <!--grid of profile pictures + total number of friends-->
  </div>
  <!--buttons-->
  <div>
    <div>Resume link</div>
    <div>Interests</div>
    <div>Skills</div>
  </div>

</div>
<!--flex column div-->