<div class="outerContainerClass">
  <div class="flexBox2Class">
    <h2 class="title1Class">
      BIPOC
    </h2>
    <img id="creamCityLogo1Id" class="creamCityLogo1Class" src="/bipoc-logo.png" alt="cream city logo">
  </div>
  <p class="titleParagraphClass">Make the most of your professional career</p>
  <div class="innerContainerClass">
    <!--user sign up form -->
    <form class="formClass" action="/member/signup" method="POST">
      <input class="userSubmitClass" id="userEmailId" type="email" placeholder="Email" name="email" tabindex="0"
        required>
      <input class="userSubmitClass" id="userPasswordId" type="password"
        placeholder="Password min: 8 characters with 1 special character" name="password" value="12345678" minlength="8"
        tabindex="0" required>
      <h4>License Agreement</h4>
      <p>
        <span class="dateOfBirthClass">Date of birth</span> This will not be shown publicly. Confirm your own age,
        even if this account is for a business, a pet, or something else.
      </p>
      <input class="userSubmitClass" id="userDateOfBirthId" type="date" name="dateOfBirth" value="2020-08-18"
        tabindex="0">
      <button class="submitBtnClass userSubmitClass" id="signupSubmitBtn" type="submit" tabindex="0">Agree and
        Join</button>
    </form>
    <div class="flexBoxClass">
      <div class="signInLinkClass">Already on BIPOC?</div> <a href="">Sign in</a>
    </div>
  </div>
  <div class="flexBoxClass" style="padding-top: 5px;">
    <div class="signInLinkClass">Looking to create a page for a business?</div> <a href="">Get Help</a>
  </div>
</div>