*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: #fff;
}
@media screen and (max-width: 400px){
  .navigation{
   visibility: hidden;
  }
  .toggle{
    visibility: hidden;
}
.mobile{
  visibility: visible;
}
.icon{
  display: block;
  font-size: 1.5em;
}
.icon:hover{
  cursor: pointer;
}

}
.mobile{
  visibility: hidden;
}
.navigation{
  position: fixed;
  top: 50px;
  left:0px;
  bottom: 20px;
  width: 70px;
  height: 100vh;
  border-radius: 10px;
  box-sizing: initial;
  background: linear-gradient(to top, rgba(223, 230, 221, 0.879), rgb(189, 189, 188));
  transition: width 0.5s;
  overflow-x: hidden;

}
.navigation.active{
  width: 175px;
}
.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}
.navigation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation ul li.active{
background: #fff;
}
.navigation ul li div{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li.active div{
 color: #333;
 overflow: hidden;
}
.navigation ul li div .icon{
position: relative;
display: block;
min-width: 60px;
line-height: 60px;
text-align: center;
}
.navigation ul li div .icon ion-icon{
  font-size: 1.5em;
}
.navigation ul li div .icon:hover{
  cursor: pointer;
}
.navigation ul li div .title{
position: relative;
display: block;
padding-left: 10px;
height: 60px;
line-height: 60px;
white-space: normal;
overflow: hidden;
}

.toggle{
  position: fixed;
  top: 0px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: rgba(223, 230, 221, 0.879);
  border-radius: 10px;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle.active{
  background: #ff4d10;
}
.toggle ion-icon{
  position: absolute;
  color: #fff;
  font-size: 34px;
  display: none;
}
.toggle ion-icon.open, .toggle.active ion-icon.close {
  display: block;
}
.toggle ion-icon.close, .toggle.active ion-icon.open{
  display: none;
}

.grid2col{
  display: grid;
  grid-template-columns: auto, auto;
  gap: 10px;
  
}
.flex-row{
  display: flex;
  flex-direction:row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.sidebar{
  
  background-color: rgba(255, 251, 251, );
  border-bottom: solid 1px rgb(196, 194, 194);
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content:left;
  align-items: center;
  
}
.bipocHeader{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 35px;
}
.calendar{
  width: 300px;
}
#creamCityLogoId{
  border: 1px solid black;
}
#search-bar{
  padding-left: 15px;
  padding-top: 10px;
}
#search-bar-mobile{

}